<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maru.twitter_login">
    <application>

        <activity
            android:name="com.maru.twitter_login.chrome_custom_tabs.ChromeCustomTabsActivity"/>
    </application>

    <queries>
        <intent>
            <action android:name=
                "android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>
</manifest>
