name: Analyze & Format

on:
  push:
    paths-ignore:
      - "docs/**"
      - "**.md"

jobs:
  analyze:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: "Install Flutter"
        run: ./.github/workflows/scripts/install-flutter.sh stable
      - name: "Pub Get"
        run: flutter pub get
      - name: "Dart Analyze"
        run: dart analyze . --fatal-infos
